[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xgboost = "*"
pyarrow = "*"

[dev-packages]
xgboost = "*"
notebook = "*"
pyarrow = "*"
kaggle = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.9"
