[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xgboost = "*"
flask = "*"
scikit-learn = "*"

[dev-packages]
xgboost = "*"
notebook = "*"
kaggle = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.9"
