-i https://pypi.org/simple
numpy==1.26.1; python_version < '3.13' and python_version >= '3.9'
pyarrow==13.0.0; python_version >= '3.8'
scipy==1.11.3; python_version < '3.13' and python_version >= '3.9'
xgboost==2.0.1; python_version >= '3.8'
